<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jornah.bbbuserservice.dao.RoleMapper">

<!--    private Integer rid;-->
<!--    private String roleName;-->
<!--    private Integer roleNameZH;-->
    <resultMap id="RoleResultMap" type="com.jornah.biubiubiu.entity.Role">
        <id column="rid" jdbcType="BIGINT" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_name_zh" jdbcType="VARCHAR" property="roleNameZH"/>
    </resultMap>
    <select id="getRolesOfUser" parameterType="String" resultMap="RoleResultMap">
       SELECT ro.* FROM `user` usr JOIN  user_role ur ON  usr.id= ur.id  JOIN role ro  ON ur.id=ro.id WHERE usr.username=#{username}
    </select>

</mapper>
